<h1>Countries</h1>
<table>
    <thead>
        <tr>
           <th>ID</th>
           <th>Name</th>
          <th>ISO2</th>
          <th>ISO3</th>
        </tr>
    </thead>
    <tbody>
        @for (country of countries; track country.id) {
            <td><a {routerLink} = "['/country-population', country.id]" >{{country.id}}</a></td>
            <td>{{country.id}}</td>
            <td>{{country.name}}</td>
            <td>{{country.iso2}}</td>
            <td>{{country.iso3}}</td>
        }
    </tbody>

</table>